.App {
  text-align: center;
}

.plus,
.minus {
  background-color: blue;
  color: wheat;
  border-color: wheat;
  /* font-weight: bold; */
  /* margin: 5px; */
  /* font-size: 20px; */
  /* border-radius: 50px; */
  /* border-width: 2px; */
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin: 0.4rem;

  font-weight: 700;
  font-size: 1rem;
}

button:hover {
  background-color: yellow;
  color: black;
  border-color: black;
  cursor: pointer;
}

button:active {
  background-color: green;
  color: wheat;
}

.minus {
  padding: 1px 10px;
}

.reveal {
  background-color: blue;
  color: wheat;
  border-color: wheat;
  font-weight: bold;
  margin: 5px;
  font-size: 20px;
  border-radius: 50px;
  border-width: 2px;
}
